.output-area {
  background-color: $output-background;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

#output {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.earth {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 30%;
  }
  .earth-age {
    @include output-div;
    min-height: 20px;
    width: 50%;
  }
  .earth-stats {
    width: 90%;
    text-shadow: $fade;
    background-color: $output-background;
    border-radius: 10px;
  }
}

.planet-stats {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100px;
    height: 100px;
    align-self: center;
  }

  div {
    width: 90%;
    min-height: 20px;
    @include output-div;
  }
}
