#output {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.earth {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 30%;
  }
  .earth-age {
    border: 1px solid white;
    min-height: 20px;
    width: 50%;
  }
  .earth-stats {
    width: 90%;
    background-color: $top-and-bottom;
    text-shadow: $fade;
  }
}

.planet-stats {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100px;
    height: 100px;
    align-self: center;
  }

  div {
    width: 98%;
    min-height: 20px;
    border: 1px solid white;
    border-radius: 10%;
    background-color: darkblue;
  }
}
