
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-image: url("../img/stars.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include body-font;
}

h1 {
  width: 100%;
  color: white;
  font-size: 65px;
  text-shadow: $fade;
  margin: 20px 0px;
  font-family: $bigelow;
  text-align: center;

}

h3{
  @include body-font;
  text-align: center;
  font-size: 15px;
}

label {
  font-family: $bigelow;
}

input {
  font-family: $open;
}

p {
  @include body-font;
}

.output-area {
  display: none;
}
